 .header-contianer {
        width: 100%;
        height: 60px;
        background-color: #00867d;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

.left-container {
        position: absolute; /* Position relative to the parent */
        left: 0; /* Add margin if needed */
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
      }

.center-container {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 38px;
      }