
<div class="container" id="formContainer">
      
      <form id="uploadForm">
        <!-- Study Field -->
        <label for="studyField">Study:</label>
        <select id="studyField" name="studyField" [(ngModel)]="studynum">
            <option value="" disabled selected>Select a Study</option>
            <option value="9999/2757" >9999/2757</option>
        </select>
     
        <!-- Site Field -->
        <!-- <label for="siteField">Site:</label>
        <select id="siteField" name="siteField" disabled>
            <option value="" disabled selected>Select a Site</option>
        </select> -->
     
        <!-- Payee Field -->
        <!-- <label for="payeeField">Payee:</label>
        <select id="payeeField" name="payeeField" disabled>
            <option value="" disabled selected>Select a Payee</option>
        </select>
        
        <input type="file" (change)="onFileSelected($event)">
  <input type="number" [(ngModel)]="pageNumber" placeholder="Page Number">
  <input type="text" [(ngModel)]="version" placeholder="Version">-->
     
        <!-- File Upload -->
        <label for="pdfFile">Upload Contract:</label>
        <input type="file"  (change)="onFileSelected($event)" id="pdfFile" name="pdfFile" accept="application/pdf" required />
     
        <!-- Page Numbers -->
        <label for="pageNumbers">Page Numbers:</label>
        <input type="text"  [(ngModel)]="pageNumber" id="pageNumbers" name="pageNumbers" placeholder="Enter page numbers (e.g., 1,2,3)" required />
       
        
 
        <!-- Gemini Prompt Version -->
        <label for="geminiPromptVersion">Gemini Prompt Version:</label>
        <select id="geminiPromptVersion" [(ngModel)]="version" name="geminiPromptVersion" required>
          <option value="" disabled selected>Select Gemini Prompt Version</option>
          <option value="v1.0">v1.0</option>
          <option value="v2.0">v2.0</option>
          <option value="v3.0">v3.0</option>
        </select>
 
        <!-- Submit Button -->
        
       
    </form>
     <div class="extract-btn">
                    <button type="submit" (click)="onSubmit()" routerLink="/budgetresult">Extract Table</button>
         </div>
    </div>
    <!-- <div class="loader" *ngIf="loadinData">loading....</div> -->
   <div class="overlay"*ngIf="loadinData">
    
    
    
    <div class="loader" ></div>
   </div>

  
   