/* You can add global styles to this file, and also import other style files */
 body {
        font-family: Arial, sans-serif;
        /* background-color: #d6dfe6; */
        background-color: white;
        color: #333;
        margin: 0;
        padding: 0;
      }