<div class="component">
    <div class="backbutton">
      <img [routerLink]="['/']"  class="backbuttonimg" src="assets/back.png" > 
    </div>
    

  <div class="table-choices-list" >
  <div><h3>Budget Extract From Contract</h3></div>
  <div style="margin-top: 10px;"><span>Extracted Time : {{response}}</span></div>
  <div *ngFor="let item of tablesData.slice(0, tablesData.length - 2); index as idx" class="table-choice">
    <input type="radio" name="tableSelect" [value]="idx" [(ngModel)]="selectedIndex" />
    <span 
      (click)="onTableToggle(idx,+item.Overhead)" 
      class="caret"
      style="cursor: pointer;"
    >
      {{ selectedIndex === idx ? '▼' : '▶' }}
    </span>
    <span 
      (click)="onTableToggle(idx,+item.Overhead)" 
      class="choice-label"
    >
      {{ item.description }} - {{ item.overall_confidence }} Confidence Level
    </span>
    <span style="position: relative; top: 6px;"><img src="/assets/i-bar.svg" [title]="item.Reason"></span>
    
    <table *ngIf="selectedIndex === idx" class="styled-budget-table">
      <thead>
        <tr>
          <th>Visit</th>
          <th >{{item.Overhead && +item.Overhead.replace('%','') > 0 ? 'Rate (with OH - ' + item.Overhead + '%)' : 'Rate (without OH)' }} </th>
          <th >Confidence</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let visit of item.table">
          <tr>
            <td>{{ visit.VISIT_NAME }}</td>
            <td style="text-align: right;">{{ visit.VISIT_COST }}</td>
            <td style="text-align: right;">{{ visit.CONFIDENCE }}</td>
          </tr>
        </ng-container>
        
      </tbody>
      <td style="font-weight: bold;">Total Visit Cost</td>
      <td style="font-weight: bold;text-align: end;">{{item.total_visit_cost}}</td>
    </table>
    
  </div>
</div>

    
    <div class="table-wrapper" >
              <div class="triple-container">
                <div class="eye-container">
                  <img src="assets/eye.png" height="20px" width="40px"/>
                  View Uploaded Contract
                </div>
                <span id="successPercentage" style="margin-left: 10px; font-weight: bold; color: green;"></span>
                <div id="form-display">
                  <div class="form-item">
                      <label for="studyField">Study</label>
                      <div class="span-div">
                        <!-- <span id="studyValue">9999/2757</span> -->
                        <select id="studyValue" name="studyValue"  style="width: 100%; font-size: 13px; padding:5px; border: 0px;">
                          <option value="" disabled selected><span>Select a Study value</span></option>
                          <option value="0050/0112" ><span>0050/0112</span></option>
                           <option value="0050/0114" ><span>0050/0114</span></option>
                           <option value="0050/0115"><span>0050/0115</span></option>
                            <option value="0050/0117"><span>0050/0117</span></option>
                            <option value="0050/0120"><span>0050/0120</span></option>
                        </select>
                      </div>
                  </div>
                   <div class="form-item">
                      <label for="siteField">Site</label>
                      <div class="span-div">
                      
                         <select id="siteValue" name="siteValue"  style="width: 100%; font-size: 13px; padding:5px ;border: 0px;">
                          <option value="" disabled selected><span>Select a Site</span></option>
                          <option value="9009" ><span>9009</span></option>
                           <option value="4007" ><span>4007</span></option>
                           <option value="11010"><span>11010</span></option>
                            <option value="11004"><span>11004</span></option>
                            <option value="8006"><span>8006</span></option>
                        </select>
                      </div>
                  </div> 
                   <div class="form-item">
                      <label for="payeeField">Payee</label>
                      <div class="span-div">
                     
                         <select id="schedules" name="schedules"  style="width: 100%; font-size: 13px; padding:5px;border: 0px; ">
                          <option value="" disabled selected><span>Select a Payee Name</span></option>
                           <option value="Clinical" ><span>Clinical Research Center of Nevada</span></option>
                           <option value="Bluegrass" ><span>Bluegrass Clinical Research</span></option>
                           <option value="Advance" ><span>Advance In Health</span></option>
                           <option value="Odyssey" ><span>Odyssey Research Service</span></option>
                   
                        </select>
                      </div>
                  </div>
                   <div class="form-item">
                      <label for="schedules">Schedules</label>
                      <div class="span-div">
                        
                         <select id="schedules" name="schedules"  style="width: 100%; font-size: 13px; padding:5px; border: 0px;">
                          <option value="" disabled selected><span>Select a Schedule</span></option>
                           <option value="Arm 1 + PK Sampling" ><span>Arm 1 + PK Sampling</span></option>
                           <option value="Arm 2 (Gemcitabine)" ><span>Arm 2 (Gemcitabine)</span></option>
                           <option value="Arm 2 (Bendamustine)" ><span>Arm 2 (Bendamustine)</span></option>
                           <option value="Standard" ><span>Standard</span></option>
                   
                        </select>
                        
                      </div>
                  </div>
                  <div class="form-item">
                      <label for="payeePricelistField">Payee Pricelist</label>
                      <div class="span-div">
                        <select id="payeePricelistField" name="payeePricelistField"  style="width: 100%; font-size: 13px; padding:5px ; border: 0px;">
                          <option value="" disabled selected><span>Select a Payee Pricelist</span></option>
                           <option value="230" ><span>230</span></option>
                           <option value="232" ><span>232</span></option>
                           <option value="125" ><span>125</span></option>
                           <option value="126" ><span>126</span></option>
                           <option value="127" ><span>127</span></option>
                        </select>
                      </div>
                  </div> 
                   <div class="form-item">
                      <label for="entitlement">Entitlement Sets</label>
                      <div class="span-div">
                       
                        <select id="entitlement" name="entitlement"  style="width: 100%; font-size: 13px; padding:5px ; border: 0px;">
                              <option value="" disabled selected ><span>Select an Entitlement</span></option>
                          <option value="12303" ><span>12303</span></option>
                           <option value="12304" ><span>12304</span></option>
                           <option value="12305"><span>12305</span></option>
                            <option value="12542"><span>12542</span></option>
                            <option value="12544"><span>12544</span></option>
                        </select>
                      </div>
                  </div>
                  

              </div>
              <div class="last-box">
                <div class="input-container">
                  <div class="input-box">
                    <label for="unscheduledVisits">Unscheduled Visits<span class="colon">:</span></label>
                    <input type="number" id="unscheduledVisits"  />
                  </div>
               
                  <div class="input-box">
                    <label for="cycles">Cycles <span class="colon">:</span></label>
                    <input type="number" id="cycles"  />
                  </div>
               
                  <div class="input-box">
                    <label for="followup">Followup <span class="colon">:</span></label>
                    <input type="number" id="followup"  />
                  </div>
                  <div class="input-box">
                    <label for="Overhead">Overhead %<span class="colon">:</span></label>
                    <input type="number" id="Overhead"  [disabled]="Overheadval == 0 ? false: true"  [(ngModel)]="Overhead"/>
                   
                  </div>
                  <div class="input-box">
                    <label for="Retention">Retention % <span class="colon">:</span></label>
                    <input type="number" id="Retention"   [(ngModel)]="Retention"/>
                    
                  </div>
                  
                   <!-- <div class="input-box">
                    <label for="Entitlement">Entitlement Set <span class="colon">:</span></label>
                    <input type="text"  id="Entitlement"  [(ngModel)]="Entitlement"/>
                    
                  </div> -->
                </div>
                <div class="button-container">
                  <button id="generateBudgetButton" (click)="onGenerateBudget()">Generate Budget</button>
                </div>
              </div>
              </div>
            </div>
     <div style="width:45%">
        <div><h3>Budget to be entered on APECS</h3></div>
         <div>

          <table id="generatedBudgetTable">
            <thead>
              <tr>
                <th style="min-width: 20px;">S.No</th>
              <th>Visit Def Desc</th>
    <th>Entitlement Name</th>
     <th style="width: 11%;">Rate</th>
    <th style="width: 12%;">OH Value</th>
   <!-- <th>Old value</th> -->
    <th style="width: 13%;">Final rate</th>	
    <th style="width: 9%;">Ret %</th>
  <!-- <th class="fourth-col">actions</th></tr> -->
            </thead>
            <tbody>
  <tr *ngFor="let row of data; let rowIndex = index">
    <td>{{rowIndex + 1}}</td>
    <td (click)="editCell(rowIndex, 'VISIT_NAME')">
      <ng-container *ngIf="!isEditing(rowIndex, 'VISIT NAME'); else visitNameInput">
        {{ row.VISIT_NAME }}
      </ng-container>
      <ng-template #visitNameInput>
        <input [(ngModel)]="row['VISIT_NAME']"
               (blur)="stopEditing()"
               (keydown.enter)="stopEditing()"
               autofocus  style="min-width: 20px;
    max-width: 86px;
    height: auto;"/>
      </ng-template>
    </td>

    <td (click)="editCell(rowIndex, 'index')">
      <ng-container *ngIf="!isEditing(rowIndex, 'index'); else indexInput">
       {{rowIndex}} - {{ row.VISIT_NAME}}
      </ng-container>
      <ng-template #indexInput>
        <input [(ngModel)]="row.index"
               (blur)="stopEditing()"
               (keydown.enter)="stopEditing()"
               autofocus  style="min-width: 20px;
    max-width: 86px;
    height: auto;"/>
      </ng-template>
    </td>

    <td style="text-align: right;" (click)="editCell(rowIndex, 'VISIT_COST')">
      <ng-container *ngIf="!isEditing(rowIndex, 'VISIT_COST'); else costInput">
        {{ row.VISIT_COST}}
      </ng-container>
      <ng-template #costInput>
        <input [(ngModel)]="row['VISIT_COST']"
               (blur)="stopEditing()"
               (keydown.enter)="stopEditing()"
               autofocus  style="min-width: 20px;
    max-width: 86px;
    height: auto;"/>
      </ng-template>
    </td>

    <td style="text-align: right;" (click)="editCell(rowIndex, 'overhead')">
      <ng-container *ngIf="!isEditing(rowIndex, 'overhead'); else overheadInput">
        {{ row.overhead }}
      </ng-container>
      <ng-template #overheadInput>
        <input [(ngModel)]="row.overhead"
               (blur)="stopEditing()"
               (keydown.enter)="stopEditing()"
               autofocus  style="min-width: 20px;
    max-width: 86px;
    height: auto;" />
      </ng-template>
    </td>
    <!-- <td>
      {{row.Oldvalue}}
    </td> -->

    <td style="text-align: right;" (click)="editCell(rowIndex, 'Final Visit Rate')">
      <ng-container *ngIf="!isEditing(rowIndex, 'Final Visit Rate'); else finalRateInput">
        {{ row["Final Visit Rate"] }}
      </ng-container>
      <ng-template #finalRateInput>
        <input [(ngModel)]="row['Final Visit Rate']"
               (blur)="stopEditing()"
               (keydown.enter)="stopEditing()"
               autofocus  style="min-width: 20px;
    max-width: 86px;
    height: auto;"/>
      </ng-template>
    </td>

    <td style="text-align: right;" (click)="editCell(rowIndex, 'Retention')">
      <ng-container *ngIf="!isEditing(rowIndex, 'Retention'); else retentionInput">
        {{ row.Retention }}
      </ng-container>
      <ng-template #retentionInput>
        <input [(ngModel)]="row.Retention"
               (blur)="stopEditing()"
               (keydown.enter)="stopEditing()"
               autofocus style="min-width: 20px;
    max-width: 86px;
    height: auto;" />
      </ng-template>
    </td>
    <!-- <td class="fourth-col">
      
      <div *ngIf="row.Oldvalue">
          <img src="/assets/tick.svg" style="width: 18px; height: 18px;" alt="">
      <img src="/assets/cross.svg"  style="width: 18px; height: 18px;" (click)="resetRetention(rowIndex)">
      </div>
     
    </td> -->
     
  </tr>
</tbody>

          </table>
         </div>
        <div class="btn-container">
                  <button id="generateSubmitButton" (click)="openModel()" >Save To APECS</button>
               
              
                  <button id="downloadExcelButton" >Download Excel</button>
                
    </div>
    
        </div>
</div>


<!-- feedback-modal.component.html -->
<div class="modal-overlay" *ngIf="showFeedbackModal">
  <div class="modal">
   
    <h2>Budget Has Been Saved To Apecs</h2>

    <label>On a scale of 1-5, how would you rate the result?</label>
    <div class="stars">
      <span
        *ngFor="let star of starsArray; let i = index"
        class="star"
        [class.selected]="selectedRating > i"
        (click)="selectRating(i + 1)"
        >&#9733;</span
      >
    </div>

    <label for="accuracy">How accurate do you think the results were? (0–100%)</label>
    <input
      type="number"
      id="accuracy"
      min="0"
      max="100"
      [(ngModel)]="accuracy"
    />

    <label for="feedback">Feedback</label>
    <textarea
      id="feedback"
      maxlength="2000"
      placeholder="Write your feedback..."
      [(ngModel)]="feedback"
    ></textarea>

    <div class="modal-buttons">
      <button  (click)="submitFeedback()" style="border: 3px solid #00867d;">Ok</button>
      <button  (click)="closeModal()" style="border: 3px solid #00867d;">Cancel</button>
      
    </div>
  </div>
</div>

<!-- Thank You Modal class="ok-btn" class="cancel-btn"       class="ok-btn"-->
<div class="modal-overlay" *ngIf="showThankYouModal">
  <div class="modal thank-you-message">
    <h2>Thank You for your valuable feedback!</h2>
    <button  (click)="closeThankYouModal()" style="display: flex; justify-content: center;margin-left: 35%; width: 25%;">Close</button>
  </div>
</div>
